<div class="tabs-menu">
  <div class="tabs-menu-wrapper">
    <div
      class="tab"
      *ngFor="let tab of tabs || []"
      [attr.code]="tab.code"
      (click)="select(tab)"
    >
      <div class="tab-image">
        <img
          [src]="tab?.image || '/assets/images/no-image.svg'"
          [alt]="tab?.text"
          class="img-responsive"
        />
      </div>
      <span class="tab-text">{{ tab?.title || tab?.code }} </span>
    </div>
    <span class="indicator" *ngIf="current && type !== 'circle'">
      {{ current?.title || current?.code }}
    </span>
  </div>
</div>
<div class="tabs-contents" *ngIf="!withoutContent">
  <ng-container [ngTemplateOutlet]="current?.tmpl"></ng-container>
</div>
