@import "mixins";
@import "theme";

:host {
  --indicator-x: 0;
  --indicator-y: 0;
  --indicator-width: 0;
  --indicator-height: 0;
  @include flex(column nowrap, stretch, flex-start);
  color: get-color("dark", 0.6);

  .tabs-menu {
    overflow-x: scroll;
    overflow-y: hidden;
    @include flex(row nowrap, center, flex-start);
    scroll-snap-type: x mandatory;
    scroll-padding: 0 1rem;
    position: relative;
    color: inherit;
    .tabs-menu-wrapper {
      min-width: auto;
      width: auto;
      @include flex(row nowrap, flex-start, flex-start);
      color: inherit;
      .tab {
        z-index: 2;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        @include flex(column nowrap, center, flex-start);
        color: inherit;
        .tab-text {
          z-index: 5;
          color: inherit;
          text-align: center;
          min-width: 3rem;
        }
        .tab-image {
          display: none;
        }
      }

      .indicator {
        z-index: 4;
        transition: 240ms;
        position: absolute;
        @include flex(row wrap, center, center);
        box-shadow: 0 1px 6px -3px get-color("dark", 0.8);
        background-color: white;
        color: get-color("dark");
        left: var(--indicator-x);
        width: var(--indicator-width);
        top: calc(var(--indicator-y) + 2px);
        height: calc(var(--indicator-height) - 4px);
      }
    }
  }

  .tabs-contents {
    padding: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

:host[type="circle"] {
  .tabs-menu .tabs-menu-wrapper {
    .tab {
      flex: 0 1;
      font-size: 1rem;
      margin-right: 0.3em;
      .tab-image {
        display: flex;
        overflow: hidden;
        @include size(4em);
        background-color: white;
        border: 1px solid get-color("dark", 0.3);
        border-radius: 100%;
        margin-bottom: 0.3em;
      }
      .tab-text {
        font-weight: 200;
        font-size: 0.6em;
        max-width: 4em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .indicator {
      display: none;
    }
  }
}

:host[type="rounded"] {
  .tabs-menu {
    @include flex(row nowrap, center, center);
    $radius: 0.3rem;
    .tab {
      flex: 1 1;
      padding: 0.3em;
      .tab-text {
        padding: 0.6rem 0.9rem;
        @include size(100%);
        @include flex(row wrap, center, center);
      }

      &:first-of-type {
        border-radius: $radius 0 0 $radius;
      }
      &:last-of-type {
        border-radius: 0 $radius $radius 0;
      }
    }
    .indicator {
      border-radius: $radius * 1.5;
    }
  }
}

:host[type="elliptical"] {
  .tabs-menu {
    $radius: 12rem;
    @include flex(row nowrap, center, center);
    .tabs-menu-wrapper {
      border-radius: $radius;
      .tab {
        flex: 1 1;
        padding: 0.2rem 0.4rem;
        .tab-text {
          padding: 0.6rem;
          @include size(100%);
          @include flex(row wrap, center, center);
          white-space: nowrap;
        }
      }

      .tab:first-of-type {
        border-radius: $radius 0 0 $radius;
      }

      .tab:last-of-type {
        border-radius: 0 $radius $radius 0;
      }

      .indicator {
        white-space: nowrap;
        border-radius: $radius;
      }
    }
  }
  @media (max-width: 380px) {
    .tabs-menu {
      .tabs-menu-wrapper {
        font-size: 0.8rem !important;
        .tab {
          padding: 0.2rem !important;
          .tab-text {
            padding: 0.4rem !important;
          }
        }
      }
    }
  }
}

@each $name, $color in $colors {
  :host[color="#{$name}"] {
    &[type="circle"] {
      .tabs-menu .tabs-menu-wrapper .tab .tab-image {
        background-color: $color;
        border: 1px solid get-contrast($name, 0.3);
      }
    }

    &[type="rounded"] {
      .tabs-menu {
        .tab .tab-text {
          color: get-color("dark", 0.6);
        }
        .indicator {
          box-shadow: 0 1px 6px -3px get-color("dark", 0.8);
          background-color: $color;
          color: get-contrast($name);
        }
      }
    }

    &[type="elliptical"] {
      .tabs-menu .tabs-menu-wrapper {
        color: get-contrast($name);
        .tab {
          background-color: lighten($color, 12%);
        }
        .indicator {
          font-weight: bolder;
          background-color: $color;
          @if ($name == "primary") {
            color: get-color("light") !important;
          } @else {
            color: get-color("primary") !important;
          }
        }
      }
    }
  }
}
