@import "mixins";
@import "theme";

:host {
  @include flex(row nowrap, center, center);
  cursor: pointer;
}

:host[type="icon"] {
  background-color: transparent !important;
  @each $name, $color in $colors {
    &.color-#{$name} {
      color: $color;
    }
  }
}

:host[type="rounded"] {
  border-radius: 1rem;
  @each $name, $color in $colors {
    &.color-#{$name} {
      background: get-color($name);
      color: get-contrast($name);
    }
  }
}
