<div class="card-container" (click)="onClick($event)">
  <div class="card-image" *ngIf="data?.image">
    <img [src]="data?.image" class="img-responsive" />
  </div>
  <div class="card-info">
    <h6 class="card-title">{{ data?.title }}</h6>
    <span class="card-content" [innerHTML]="data?.content"></span>
  </div>
  <div
    *ngIf="data?.accent"
    class="card-accent text-{{ data?.accent?.color || 'primary' }}"
    [innerHTML]="data?.accent?.content"
    (click)="accentClick($event)"
  ></div>

  <app-button
    class="card-actions"
    type="icon"
    *ngIf="actions?.length && !selectionControl"
    (click)="showActions(); $event.stopPropagation()"
  >
    <i class="fal fa-ellipsis-v"></i>
  </app-button>

  <div class="card-check" [class.selected]="selected" *ngIf="selectionControl">
    <label (click)="check.click(); $event.stopPropagation()">
      <i class="fal fa-check"></i>
    </label>
    <input #check type="checkbox" hidden [(ngModel)]="selected" />
  </div>
  <i
    class="fal fa-angle-right card-caret"
    *ngIf="clickeable && !selectionControl"
  ></i>
  <ons-ripple *ngIf="clickeable" color="#e4c16820"></ons-ripple>
</div>
