@import "mixins";
@import "theme";

:host {
  @include flex(column nowrap, stretch);
  @include elevate(1);
  position: relative;
  background-color: white;
  border-radius: 0.4rem;
  overflow: hidden;
  color: get-color("dark", 0.9);
  transition: 0.24s;

  .card-container {
    @include flex(column nowrap, stretch);
    padding-bottom: 1rem;

    .card-image {
      transition: 0.24s;
      height: 12rem;
      max-height: 12rem;
      margin-bottom: 0.3rem;
    }

    .card-info {
      @include flex(column nowrap, stretch);
      .card-title,
      .card-content,
      .card-accent {
        transition: 0.24s;
        padding: 0.3rem 1rem;
      }

      .card-title {
        font-size: 1.1rem;
        font-weight: bolder;
        margin: 0;
      }

      .card-content {
        font-size: 0.9rem;
        font-weight: 400;
      }
    }
  }

  .card-caret,
  .card-check {
    position: absolute;
    font-size: 1.6rem;
    @include bounds(calc(50% - 0.8rem), 1rem);
  }

  .card-actions {
    position: absolute;
    @include bounds(0, 0);
    color: get-color("dark") !important;
    font-size: 1.3rem;
    min-width: 1.3rem;
    min-height: 1.3rem;
    padding: 0.6rem;
  }

  .card-check {
    @include flex(row nowrap, center, center);
    color: get-color("light");
    label {
      @include flex(row nowrap, center, center);
      @include size(1.6rem);
      background-color: transparent;
      border: 1px solid get-color("primary");
      border-radius: 100%;
      i {
        font-size: 1rem;
        display: none;
      }
    }
    &.selected {
      label {
        background-color: get-color("primary");
        i {
          display: flex;
        }
      }
    }
  }
}

:host[mode="extended"]:not(.no-image) {
  .card-caret {
    opacity: 0;
  }
  .card-check {
    @include bounds(1rem, 1rem);
    &:not(.selected) label {
      background-color: white;
    }
  }

  .card-accent {
    padding: 0.3rem 1rem;
  }
}

:host.no-image,
:host[mode="minimal"] {
  .card-container {
    flex-flow: row nowrap !important;
    padding: 0 !important;
    @include size(100%, 6rem, true);

    .card-image {
      @include size(6rem, 6rem, true);
      margin: 0 !important;
      overflow: hidden;
      align-self: center;
    }

    .card-info {
      flex: 1 1;
      padding: 0.3rem;
      padding-right: 1rem;
      max-width: calc(100% - 12.3rem);
      .card-title,
      .card-content {
        padding: 0.3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
      }

      .card-title {
        font-size: 1rem;
        max-height: 1.4rem;
        max-width: 100%;
        white-space: nowrap;
      }
    }

    .card-accent {
      @include flex(column nowrap, center, center);
      @include size(4rem, 4rem, true);
      align-self: center;
      transition: 0.24s;
      font-size: 1.6rem;
    }
  }

  &.selection .card-info {
    max-width: calc(100% - 13.3rem) !important;
  }

  &.no-image {
    .card-info {
      max-width: calc(100% - 6.3rem) !important;
    }
    &.selection .card-info {
      max-width: calc(100% - 7.3rem) !important;
    }
  }
}
