@import "./../theme";
@import "./../mixins";

.lighting-link {
  cursor: pointer;
  transition: all 0.3s;
  color: get-color("light");
  padding: 0 1rem;
  font-size: 1rem;
  outline: none !important;
  text-decoration: none !important;

  &:hover {
    font-size: 1.2rem;
    text-shadow: 0 0 6px get-color("light", 0.8);
  }
  &.active {
    text-shadow: 0 0 3px get-color("light", 0.8);
  }
}

.lighting-link-group {
  @include flex(row nowrap, center, center);
  .lighting-link:not(:first-child) {
    border-left: 1px solid get-color("light", 0.8);
  }
}
