@import "theme";
@import "mixins";

:host {
  @include flex(column nowrap, stretch, center);
  position: relative;
  searchbar {
    position: sticky;
    top: 2.2rem;
    z-index: 500;
    transition: 0.24s;
    overflow: hidden;
    &.hidden {
      max-height: 0;
      padding: 0 0.9rem;
    }
  }

  .tools {
    @include flex(row nowrap, center, center);
    margin: 1rem 0;
    position: relative;
    min-height: 1.3rem;
    .mode-btn {
      position: absolute;
      @include bounds(unset, 1rem);
      font-size: 1.3rem;
      padding: 0.3rem;
    }
  }

  @media (max-width: 380px) {
    .mode-btn {
      right: 0.3rem !important;
    }
  }
}
