<searchbar
  [class.hidden]="flags.includes('search-hidden')"
  [(ngModel)]="params.search"
  (search)="load()"
></searchbar>
<div class="tools">
  <tabs
    color="dark"
    type="elliptical"
    [withoutContent]="true"
    (selected)="onTab($event)"
  >
    <tab
      *ngFor="let tab of tabs || []"
      [code]="tab?.code"
      [title]="tab?.title"
      [value]="tab?.value"
      [active]="tab?.active"
    ></tab>
  </tabs>
  <app-button
    type="icon"
    color="dark"
    class="mode-btn"
    (click)="mode = mode === 'minimal' ? 'extended' : 'minimal'"
  >
    <i
      class="fas {{
        mode === 'minimal' ? 'fa-pause fa-rotate-90' : 'fa-th-list'
      }}"
    ></i>
  </app-button>
</div>
<list
  [mode]="mode"
  [items]="cards"
  [actions]="actions"
  [selectable]="selectable"
  (onitemclick)="onitemclick.emit($event)"
  (onaction)="actionHandler($event.action, $event.cards)"
  (oncardaction)="actionHandler($event.action, [$event.card])"
></list>
