@import "mixins";
@import "theme";

:host {
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: get-color("dark");
  transition: 360ms ease-in-out;
  @include size(100%, 2.2rem);
  @include flex(row nowrap, center, space-between);
  @include elevate(1);

  .user-image {
    $size: 2.5rem;
    position: absolute;
    @include elevate(1);
    @include size($size, $size, true);
    @include bounds(6px, unset, unset, 1rem);
    transition: 360ms;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid get-color("light");
    background-color: get-color("light");
  }

  .header-title {
    @include flex(row nowrap, center);
    margin: 0.3rem 0 0 0;
    font-size: 1rem;
  }

  .left-section {
    @include flex;
    flex: 1 0;
    height: 100%;
    padding-left: 4.3rem;
    app-button {
      @include size(2.5rem, 100%);
    }
  }

  .right-section {
    flex: 1 0;
    @include flex(row-reverse nowrap, center);
    height: 100%;
    app-button {
      @include size(2.5rem, 100%);
    }
  }

  .auth-btn {
    @include size(3.9rem !important, 1.6rem !important);
    margin: 0 0.6rem;
  }

  .back-btn {
    transition: 360ms ease-in-out;
    max-width: 0;
    opacity: 0;
    margin: 0;
    i {
      font-size: 1.3rem;
    }
  }

  i {
    font-size: 1rem;
  }
}

:host.with-back {
  .back-btn {
    opacity: 1;
    margin: 0 0 0 1rem;
    max-width: 100%;
  }

  .user-image {
    left: 3rem !important;
  }
}
