<app-button
  type="icon"
  color="primary"
  link="/consumer/communities"
  class="back-btn"
>
  <i prefix class="fad fa-arrow-left"></i>
</app-button>
<a
  class="user-image"
  (click)="app?.header?.imageCallback && app?.header.imageCallback()"
>
  <img [src]="image" class="img-responsive" />
</a>
<div class="left-section">
  <h2 class="header-title text-light">
    <span *ngIf="auth?.session?.token; else untitled">
      {{ app?.header?.title }}
    </span>
    <ng-template #untitled>
      <span class="text-primary"> Reward </span>
      <span class="text-light"> Charly </span>
    </ng-template>
  </h2>
</div>
<div class="right-section">
  <ng-container *ngIf="auth?.session; else signinbtn">
    <ng-container *ngFor="let action of app?.header?.actions || []">
      <app-button
        type="icon"
        *ngIf="visibleAction(action)"
        [color]="action?.color || 'light'"
        (click)="onAction(action)"
      >
        <i prefix class="{{ action?.icon || 'fal fa-circle' }}"></i>
      </app-button>
    </ng-container>
  </ng-container>
  <ng-template #signinbtn>
    <app-button
      type="rounded"
      color="light"
      class="auth-btn"
    >
      <span content>Enter</span>
    </app-button>
  </ng-template>
</div>
