<div class="image-input" *ngIf="withImage">
  <input
    id="image-input"
    type="file"
    hidden
    #input
    (change)="imageChange($event)"
  />
  <img
    class="img-responsive"
    [src]="image || 'assets/images/no-image.svg'"
    (click)="input.click()"
  />
  <i class="pick-icon fad fa-pencil" (click)="input.click()"></i>
</div>
<ngx-form [form]="form" *ngIf="form"></ngx-form>
<app-button
  color="success"
  [type]="'rounded'"
  [disabled]="form?.invalid"
  (click)="submit()"
>
  Submit
</app-button>
