<div class="search form-control" *ngIf="!hasAnyFlag('no-search')">
  <div class="control-input">
    <i class="control-input--icon fad fa-search"></i>
    <input
      [(ngModel)]="search"
      class="control-input--control"
      placeholder="Search element"
    />
  </div>
</div>
<div class="options">
  <ng-container *ngFor="let action of filtereds || []">
    <app-button
      type="icon"
      class="option"
      [color]="action?.color"
      [link]="action?.link"
      (click)="select(action)"
    >
      <i class="action-icon {{action?.icon}}" *ngIf="action?.icon"></i>
      <span class="action-text" *ngIf="action?.text"> {{action?.text}} </span>
    </app-button>
  </ng-container>
</div>
