@import "mixins";
@import "theme";

:host {
  position: fixed;
  @include bounds(0, 0, 0, 0);
  @include flex(column nowrap, stretch, center);
  background: get-color("dark") !important;
  z-index: 1100;

  section {
    z-index: 100;
    @include flex;
  }

  app-button {
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    padding: 0.6rem;
    font-size: 1.6rem;
    border-radius: 100%;
  }

  video {
    z-index: 1;
    margin-bottom: 4rem;
  }

  .triggering-header {
    @include bounds(0, 0, unset, 0);
    position: absolute;
    min-height: 4rem;
    padding: 1rem;
  }

  .triggering-guide {
    display: none;
    z-index: 2;
    position: fixed;
    @include bounds(3rem, 0, 6rem, 0);
    &::before {
      content: "";
      position: absolute;
      @include bounds(0rem, 3rem, -1rem, 3rem);
      border-left: 1px dashed get-color("light", 0.6);
      border-right: 1px dashed get-color("light", 0.6);
    }
    &::after {
      content: "";
      position: absolute;
      @include bounds(2rem, 1rem, 1rem, 1rem);
      border-top: 1px dashed get-color("light", 0.6);
      border-bottom: 1px dashed get-color("light", 0.6);
    }
  }

  .triggering-controls {
    @include flex(row nowrap, center, center);
    @include size(100%, 6rem);
    position: fixed;
    padding: 1rem 2rem;
    bottom: 0;

    .take-btn {
      position: absolute;
      @include bounds(calc(50% - 2rem), calc(50% - 2rem));
      @include elevate(3);
      @include size(4rem);
      border: 0.5rem solid get-color("gray");
      background: get-color("light");
      overflow: hidden;
    }

    .toggle-btn {
      padding: 0.6rem;
      margin-left: auto;
      @include flex(row, center, center);
      @include size(3rem, auto);
    }
  }

  .preview-modal {
    background-color: get-color("dark", 0.6);
    backdrop-filter: blur(6px);

    .preview-photo {
      padding: 0.6rem;
      img {
        @include size(auto !important);
        @include elevate(1);
        border-radius: 0.3rem;
        max-width: 80vw;
        max-height: 80vh;
      }
    }

    .preview-input {
      @include flex(column, stretch);
      @include elevate(1);
      background: get-color("light");
      color: get-color("dark");
      border-radius: 0.3rem;
      padding: 0.6rem;
      max-width: 80vw;
      margin: 0 auto;
      textarea {
        border: none;
        resize: none !important;
        border-radius: 0.3rem;
        background-color: transparent;
      }
    }

    .preview-controls {
      @include flex(row nowrap, center, center);
      padding: 1rem;
      app-button {
        @include elevate(1);
        @include size(3rem);
        background-color: get-color("light") !important;
        font-size: 2rem;
        padding: 1rem;
        margin: 1rem;
      }
    }
  }

  @media (min-width: 450px) {
    align-items: center !important;
    .triggering-controls {
      max-width: 400px !important;
    }
    .preview-input {
      max-width: 396px !important;
    }
  }
}
