<section class="triggering-header">
  <app-button color="light" type="icon" (click)="location?.back()">
    <i class="fal fa-arrow-left"></i>
  </app-button>
</section>
<video #video></video>
<section class="triggering-guide"></section>
<section class="triggering-controls">
  <input type="file" hidden #input (change)="uploadPhoto($event)" />
  <app-button class="upload-btn" type="icon" (click)="input.click()">
    <i class="fad fa-upload"></i>
  </app-button>
  <app-button class="take-btn" (click)="takePhoto()"></app-button>
  <app-button class="toggle-btn" type="icon" (click)="camera.select('next')">
    <img src="/assets/images/toggle-camera.svg" class="img-responsive" />
  </app-button>
</section>

<ons-modal direction="up" #preview class="preview-modal">
  <div class="preview-photo">
    <img [src]="src" class="img-responsive" />
  </div>
  <div class="preview-input">
    <textarea
      name="message"
      rows="2"
      placeholder="Insert any message"
    ></textarea>
  </div>
  <div class="preview-controls">
    <app-button type="icon" color="danger" (click)="preview.hide()">
      <i class="fal fa-times"></i>
    </app-button>
    <app-button type="icon" color="success" (click)="submit()">
      <i class="fal fa-check"></i>
    </app-button>
  </div>
</ons-modal>
