@import "theme";
@import "mixins";

:host {
  z-index: 9000;
  position: fixed;
  visibility: hidden;
  transition: visibility 0s;
  @include bounds(0, 0, 0, 0);

  .backdrop {
    transition: 0.3s;
    opacity: 0;
    display: none;
    position: absolute;
    @include bounds(0, 0, 0, 0);
    @include background(get-color("dark", 0.3), 6px);
  }

  .menu-content {
    transition: 0.3s;
    position: absolute;
    @include bounds(0, 3rem, 0, 0);
    min-width: 300px;
    max-width: 390px;
    @include background(get-color("dark", 0.9), 6px);
    transform: translateX(-100%);
    color: get-color("light");

    section {
      padding: 1rem;
      margin-bottom: 1rem;
      .section-title {
        margin: 0;
        margin-bottom: 1rem;
        @include flex(row nowrap, center, flex-start);
        font-weight: normal;
        & > i {
          font-size: 1.3rem;
          margin-right: 0.6rem;
        }

        app-button {
          @include flex(row, center, center);
          @include size(2rem);
          border-radius: 100%;
          overflow: hidden;
          margin-left: auto;
          font-size: 1.3rem;
        }
      }
      tabs ::ng-deep .tabs-menu {
        scroll-padding: 0 !important;
        .tabs-menu-wrapper {
          padding: 0 !important;
          .tab {
            margin-right: 1rem;
            .tab-image {
              @include size(4.3rem !important);
            }
            .tab-text {
              color: get-color("light") !important;
              font-size: 1rem !important;
              font-weight: normal !important;
            }
          }
        }
      }
    }

    .consumer-section {
      @include flex(row nowrap, center, flex-start);
      margin: 0 !important;
      background-color: get-color("light", 0.1);
      position: relative;

      .user-image {
        @include size(3.3rem, 3.3rem, true);
        border-radius: 100%;
        border: 0.2rem solid get-color("light");
        background: get-color("light");
        overflow: hidden;
      }

      .user-info {
        @include flex(column nowrap, stretch, flex-start);
        margin-left: 1rem;
        .user-name {
          font-size: 1.1rem;
        }
        .user-email,
        .user-phone {
          font-size: 0.8rem;
        }
      }

      .signout-btn {
        @include bounds(calc(50% - 1.2rem), 1rem);
        @include flex(row, center, center);
        @include size(2.4rem);
        // border: 1px solid get-color("light");
        position: absolute;
        font-size: 1.3rem;
        border-radius: 100%;
      }
    }
  }
}

:host.shown {
  visibility: visible;
  .backdrop {
    transition: 0.3s;
    opacity: 1;
    display: block;
  }

  .menu-content {
    @include elevate(3);
    transform: translateX(0%) !important;
  }
}
