<div class="backdrop" (click)="shown = false"></div>
<div class="menu-content">
  <section
    class="consumer-section"
    routerLink="/consumer"
    (click)="shown = false"
  >
    <div class="user-image">
      <img [src]="auth?.session?.user?.image" class="img-responsive" />
    </div>
    <div class="user-info">
      <span class="user-name">
        {{ auth?.session?.user?.firstName }}
        {{ auth?.session?.user?.lastName }}
      </span>
      <span class="user-email">
        {{ auth?.session?.user?.email }}
      </span>
      <span class="user-phone">
        {{ auth?.session?.user?.phone }}
      </span>
    </div>
    <app-button
      type="icon"
      color="light"
      class="signout-btn"
      (click)="auth.signout()"
    >
      <i class="fad fa-sign-out"></i>
    </app-button>
  </section>
  <section class="communities-section">
    <h5 class="section-title">
      <i class="fal fa-cash-register"></i>
      Your Communities
      <app-button type="icon" color="success" link="/community/create">
        <i prefix class="fas fa-plus"></i>
      </app-button>
    </h5>
    <tabs
      [withoutContent]="true"
      type="circle"
      *ngIf="communities?.length"
      (selected)="shown = false"
    >
      <tab
        *ngFor="let community of communities || []"
        [image]="community?.image"
        [code]="community?._id"
        [title]="community?.kindcode"
        link="/community/{{ community._id }}"
      ></tab>
    </tabs>
  </section>
  <section class="merchants-section">
    <h5 class="section-title">
      <i class="fal fa-users"></i>
      Your Merchants
      <app-button type="icon" color="success" link="/merchant/create">
        <i prefix class="fas fa-plus"></i>
      </app-button>
    </h5>
    <tabs
      [withoutContent]="true"
      type="circle"
      *ngIf="merchants?.length"
      (selected)="shown = false"
    >
      <tab
        *ngFor="let merchant of merchants || []"
        [image]="merchant?.image"
        [code]="merchant?._id"
        [title]="merchant?.name"
        link="/merchant/{{ merchant._id }}"
      ></tab>
    </tabs>
  </section>
</div>
