<ons-carousel #carousel fullscreen>
  <ons-carousel-item class="auth-step">
    <div class="form-control">
      <label class="control-label">Your phone number</label>
      <div class="control-input">
        <i class="control-input--icon fad fa-phone"></i>
        <div class="country-code" (click)="selectCountryCode()">
          <p>{{ countryCode }}</p>
          <i class="fal fa-chevron-down"></i>
        </div>
        <!-- <span class="control-input--prefix"> +1 </span> -->
        <input
          #phone
          tabindex="-1"
          class="control-input--control"
          name="phone"
          data-type="number"
          maxlength="10"
          placeholder="1234567890"
          (keyup)="validateInput(phone)"
          (keyup.enter)="enterUser(phone.value)"
        />
      </div>
      <span class="control-hint">
        You'll receive a one time code to validate if is your first time.
      </span>
    </div>
    <app-button
      class="continue-btn"
      color="success"
      [type]="'rounded'"
      [disabled]="phone.value?.length < 10"
      (click)="enterUser(phone.value)"
    >
      Continue
    </app-button>
  </ons-carousel-item>
  <ons-carousel-item class="auth-step">
    <div class="form-control">
      <label class="control-label">Enter received code</label>
      <div class="control-input">
        <i class="control-input--icon fad fa-barcode-scan"></i>
        <input
          #code
          tabindex="-1"
          class="control-input--control"
          name="code"
          data-type="number"
          maxlength="4"
          placeholder="1234"
          autocomplete="off"
          (keyup)="validateInput(code)"
          (keyup.enter)="enterCode(code.value)"
        />
      </div>
    </div>
    <app-button
      class="continue-btn"
      color="success"
      [type]="'rounded'"
      [disabled]="code.value?.length < 4"
      (click)="enterCode(code.value)"
    >
      Send code
    </app-button>
  </ons-carousel-item>
  <ons-carousel-item class="auth-step">
    <div class="form-control">
      <label class="control-label">
        Type your {{ user ? 'new ' : ''}}password
      </label>
      <div class="control-input">
        <i class="control-input--icon fad fa-key"></i>
        <input
          tabindex="-1"
          #password
          class="control-input--control"
          [attr.type]=" showPassword ? 'text' : 'password'"
          name="password"
          placeholder="********"
          (keyup.enter)="enterPassword(password.value)"
        />
        <div class="control-input--functions">
          <app-button
            *ngIf="password"
            type="icon"
            color="dark"
            (click)="showPassword = !showPassword"
          >
            <i class="fad fa-eye{{showPassword ? '': '-slash'}}"></i>
          </app-button>
        </div>
      </div>
    </div>
    <app-button
      class="continue-btn"
      color="success"
      [type]="'rounded'"
      [disabled]="!password.value?.length"
      (click)="enterPassword(password.value)"
    >
      Submit
    </app-button>
    <ng-container *ngIf="user">
      <span style="align-self: center; margin-top: 1rem">or</span>
      <a
        class="link"
        style="align-self: center; margin-top: 1rem"
        (click)="enterPassword(password?.value) && moreInfo()"
      >
        Add more info
      </a>
    </ng-container>
  </ons-carousel-item>
</ons-carousel>
