@import "mixins";
@import "theme";

:host {
  @include flex(column nowrap, stretch, flex-start);
  .auth-step {
    @include flex(column nowrap, stretch, flex-start);
    max-height: 40vh;
    overflow-y: auto;
    padding: 1rem 2rem;
    
    .country-code {
      border-right: 2px var(--gray-color) solid;
      padding: 0.7rem;
      display: flex;
      p {
        margin: 0;
      }
      i {
        font-size: 15px;
        margin-top: 5px;
        margin-left: 5px;
      }
    }

    .continue-btn {
      @include size(9rem, 2rem);
      max-width: calc(100% - 2rem);
      min-height: 2rem;
      margin-top: 1rem;
      align-self: center;
      font-size: 1rem;
    }

    input,
    textarea {
      width: 100%;      
    }

    select {
      border: 0;
      border-right: 1px #f0f0f0 solid;
    }    

    &::after {
      content: "";
      @include size(4rem);
      min-width: 100%;
      min-height: 4rem;
    }
  }
}
