@import "mixins";
@import "theme";

:host {
  z-index: 300;
  top: 0;
  position: sticky;
  @include size(100%, auto);
  @include flex(row nowrap, center, space-between);
  @include elevate(1);
  background-color: get-color("dark");
  color: get-color("light");
  padding: 0.6rem 1rem;

  .back-link {
    margin-right: 0.6rem;
  }

  .header-image {
    $size: 2.6rem;
    @include size($size, $size, true);
    border-radius: 100%;
    overflow: hidden;
    background-color: get-color("light");
    margin-right: 0.6rem;
  }

  .header-content {
    flex: 1 1;
    @include flex(column nowrap, flex-start, center);
    .header-title {
      margin: 0 0 0.3rem 0;
      font-size: 1rem;
    }
    .header-subtitle {
      font-size: 0.8rem;
    }
  }

  .header-right,
  .header-left {
    flex: 0 0 auto;
    height: 100%;
    @include flex(row nowrap, center, flex-start);
  }

  .signin-btn {
    @include flex(row nowrap, center, center);
    @include elevate(1);
    padding: 0.3rem 1rem;
    [content] {
      margin-right: 0.3rem;
    }
  }
}
