<div class="header-left">
  <app-button
    class="back-link"
    *ngIf="backLink"
    type="icon"
    color="light"
    (click)="location.back()"
  >
    <i class="fas fa-arrow-left" style="font-size: 1.6rem;"></i>
  </app-button>

  <ng-content select="[left]"></ng-content>
</div>
<div class="header-image" *ngIf="image" (click)="imageClick.emit($event)">
  <img [src]="image" class="img-responsive" />
</div>
<div class="header-content">
  <h1 class="header-title">{{ title }}</h1>
  <small class="header-subtitle">{{ subtitle }}</small>
</div>
<div class="header-right">
  <ng-content select="[right]"></ng-content>
</div>
