@import "mixins";
@import "theme";

:host {
  @include flex(column nowrap, stretch, flex-start);
  padding: 0 0.6rem;

  .list-actions {
    @include flex;
    margin-left: auto;
    .list-action {
      @include flex(row, center, center);
      font-size: 1.3rem;
      overflow: visible;
      padding: 0.3rem;
      cursor: pointer;
    }
  }

  .list-toolbar {
    @include flex(row nowrap, stretch, center);
    @include size(100%, auto);
    flex: 0 0 auto;

    .search-bar {
      @include flex(row nowrap, center, flex-start);
      flex: 1 1;
      position: relative;
      padding: 0.3rem 0.9rem;
      height: 2.6rem;
      border-radius: 12rem;
      background-color: white;
      @include elevate(1);
      input {
        flex: 1 0;
        border: none;
        outline: none;
        height: 100%;
        background-color: transparent !important;
      }
      i {
        font-size: 1.3rem;
        color: get-color("dark", 0.3);
      }
    }
    margin-bottom: 1rem;
  }

  .list-content {
    @include flex(column nowrap, stretch);
    card {
      margin-bottom: 1rem;
    }
  }

  .empty-list {
    font-size: 1.6rem;
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-weight: bolder;
    color: get-color("gray");
  }

  .selection-toolbar {
    @include flex(row nowrap, center, center);
    @include size(100%, 4rem);
    max-height: 0;
    margin: 0rem;
    opacity: 0;
    transition: 240ms;

    .selection-btn {
      @include flex(row, center, center);
      @include size(1.6rem);
      @include elevate(1);
      align-self: center !important;
      transition: 240ms;
      overflow: hidden;
      font-size: 1rem;
      &:not(:last-of-type) {
        margin-right: 0.6rem;
      }
    }
  }
}

:host.selection {
  .selection-toolbar {
    opacity: 1;
    max-height: 4rem;
    margin-bottom: 0.9rem;
  }
}
