<div class="list-actions" *ngIf="actions?.length && selectionActive">
  <ng-container *ngFor="let action of actions || []">
    <app-button
      type="icon"
      class="list-action"
      [color]="action?.color"
      (click)="emitAction(action)"
    >
      <i [class]="action?.icon"></i>
    </app-button>
  </ng-container>
</div>
<div
  id="list-content"
  class="list-content"
  *ngIf="array?.length; else noItems"
  [@cardsAnimation]
>
  <div class="selection-toolbar">
    <app-button
      class="selection-btn"
      color="danger"
      (click)="exitSelection()"
      style="margin-right: auto;"
    >
      <i class="fad fa-times"></i>
    </app-button>
    <app-button class="selection-btn" color="gray" (click)="selectAll(false)">
      <i class="fad fa-minus"></i>
    </app-button>
    <app-button class="selection-btn" color="primary" (click)="selectAll(true)">
      <i class="fad fa-check-double"></i>
    </app-button>
  </div>
  <card
    *ngFor="let card of array"
    [clickeable]="clickeable"
    [mode]="mode"
    [data]="card"
    [selectionControl]="selectionActive"
    [actions]="cardActions"
    (onaction)="emitAction($event, [card])"
    [longPress]="0.6"
    (longpressed)="selectable && (selectionActive = true)"
    (click)="onitemclick.emit(card)"
  ></card>
</div>
<ng-template #noItems>
  <span class="empty-list">
    No items to show
  </span>
</ng-template>
<button
  #printbtn
  hidden
  ngxPrint
  class="print-btn"
  printSectionId="list-content"
  styleSheetFile="/assets/css/print-list.css"
></button>
