<resource-list
  mode="minimal"
  [cards]="cards"
  [tabs]="[
    { code: 'All', value: {}, active: true },
    { code: 'Paid', value: { status: 'collected' } },
    { code: 'To pay', value: { status: 'no-collected' } }
  ]"
  (onload)="load($event)"
  (onaction)="actionHandler($event.action, $event.cards)"
  [defaultActions]="false"
></resource-list>
<div class="totals text-dark">
  <span style="margin-right: auto"> Totals </span>
  <div
    class="total-qty text-gray"
    *ngIf="params?.filters?.status !== 'no-collected'"
  >
    ${{ totalCollected }}
    <span class="text-small"> paid </span>
  </div>
  <div
    class="total-qty text-primary"
    *ngIf="params?.filters?.status !== 'collected'"
  >
    ${{ totalToCollect }}
    <span class="text-small"> to pay </span>
  </div>
</div>
